.button{
    color: var(--button-text-color) !important;
    background-color: var(--button-bg-color) !important;
    font-size: var(--font-size);
    margin-top:4;
}

.categories {
    font-size: 12px ;
}